{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="miseenpage">
    <img src="img\LOGO_QUAESTYOfondblanc.jpg" width="800px"/>
    <br>

    <h3> Bonjour {{ controller_name }} nous sommes le : {% if today is defined %} {{today}} {% endif %} </h3>
    <div class="card border-primary mb-5">
        <div class="card-header text-center">
            <h5>✅ Voir les Key Performance Indicator ✅</h5>
        </div>
        <div class="card-body">
            <div class="list-group">
                <a href="{{ path('stats')}}" class="list-group-item list-group-item-action active" aria-current="true"> KPI sur 12 mois glissants</a>
                <a href="{{ path('stat_cac')}}" class="list-group-item list-group-item-action">Statistiques Cout d'Acquisition Client </a>
                <a href="{{ path('stat_arpu')}}" class="list-group-item list-group-item-action">Statistiques Average Revenu Per User</a>
                <a href="{{ path('stat_ltvc')}}" class="list-group-item list-group-item-action">Statistiques Customer Lifetime Value</a>
                <a href="{{ path('stat_adv')}}" class="list-group-item list-group-item-action">Statistiques Played Adventures</a>                 
            </div>
            <div class="card-body mt-4">            
                {% if form_majp is defined %}      
                    {{form_start(form_externdatas)}}
                        <div class="col-sm-12 mb-3">
                            {{form_label(form_externdatas.CA)}}
                            &nbsp                            
                            {{form_widget(form_externdatas.CA)}} €
                            &nbsp
                            {{form_label(form_externdatas.advert)}}
                            {{form_widget(form_externdatas.advert)}} €
                        </div>                        
                        <div class="col-sm-12 mb-3">
                            {{form_label(form_externdatas.download)}}                            
                            {{form_widget(form_externdatas.download)}}
                            &nbsp&nbsp&nbsp&nbsp
                            {{form_label(form_externdatas.uninstall)}}
                            &nbsp
                            {{form_widget(form_externdatas.uninstall)}}
                        </div>
                        <div class="col-sm-12 mb-3">
                            {{form_label(form_externdatas.date_payed)}}
                            {{form_widget(form_externdatas.date_payed)}}
                        </div>
                        <div class="mt-4">
                        <button type="submit" class="btn btn-primary" onclick="return confirm('{{ controller_name }} , êtes vous sûr de vouloir insérer ses 4 valeurs ?')">Insérer les datas</button>
                    </div>                    
                    {{form_end(form_externdatas)}}
                {% endif %}
            </div>                
        </div>
        <div class="card-footer text-muted">
            {% if messagea is not empty %}
                    <div class="alert alert-warning">
                        <code>{{ messagea }}</code>
                    </div>
            {% endif %}
            
        </div>
    </div>

    <div class="card border-danger mb-5">
        <div class="card-header text-center">
            <h5>✅ Produire un fichier CSV  des Comptes Clients   : ✅</h5>
        </div>
        <div class="card-body">  
            <form action="{{ path('prodcsv')}}" method="post" name="stat">   
                <div class="row">
                    <h5 class="card-title"><cite>-  qui ont joué au moins à une aventure (dates comprises) du :</cite></h5>
                        <div class="col-sm-3 ">
                            <input type="date" class="form-control" name="datedeb" value="2021-02-01" min="2018-06-08" required>
                        </div>
                        <div class="col-sm-1">
                            <label class="form-label">  au  </label>
                        </div>
                        <div class="col-sm-3 mb-3">
                            <input type="date" class="form-control" name="datefin" value="{{ today2 }}" required>
                        </div>                        
                    <h5 class="card-title"><cite>-  qui n'ont jamais joué avec un compte créé depuis le :</cite></h5>
                        <div class="col-sm-3"> 
                            <input type="date" class="form-control" name="datecrea" value="{{ today2 }}" min="2018-06-08" required>                            
                        </div>
                        <div class="col-sm-10 mb-3">
                            <span style="font-size: 11px">* Possible aucun résultat en mettant la date de demain</span> 
                        </div>  
                    <h5 class="card-title"><cite>-  avec le nombre maximum de colonne "aventure jouée" souhaité de :</cite></h5>
                        <div class="col-sm-3"> 
                        <input type="number" class="form-control" name="nbcol" value="12" min="1" required> 
                        </div>                               
                        <p></p>
                        <div class="col-sm-4 mt-2">
                            <button type="submit" class="btn btn-danger">Produire le fichier CSV</button>
                        </div>
                    </div>
            </form>   
        </div>
        <div class="card-footer text-muted">
            <div class="col-sm-6">
                {% if messagec is not empty %}
                    <div class="alert alert-warning">
                        <code><a href="Files_CSV\Quaestyo.csv">{{ messagec }}</a></code>
                    </div>
                {% endif %}
            </div>   
        </div>
    </div>
    <div class="card border-warning mb-5">
        <div class="card-header text-center">
            <h5>✅ Mettre à jour la base de données ✅</h5>
        </div>
        <div class="card-body">
            <ul class="list-group mb-4">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                   Dernière mise à jour
                    <span class="badge bg-dark rounded-pill">{{dm}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                   Nombre total de comptes créés
                    <span class="badge bg-dark rounded-pill">{{cp}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Nombre total d'aventures jouées
                    <span class="badge bg-dark rounded-pill">{{cg}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Nombre total d'aventures à laquelle on peut jouer
                    <span class="badge bg-dark rounded-pill">{{ca}}</span>
                </li>
            </ul>
            {% if form_drop is defined %}      
                {{form_start(form_drop)}}
                    {{form_widget(form_drop.file)}}
                    <div>
                    <span style="font-size: 13px">* Dans l'ordre : player.json , ADV_IND-leaderboard.json , meta.adventures.json , playerDetails.json , playerMails.csv</span>
                    </div>                                    
                        <div class="mt-4">
                            <button type="submit" class="btn btn-warning">Mettre à jour la base</button>
                        </div>
                {{form_end(form_drop)}}
            {% endif %} 
        </div>                   
        <div class="card-footer text-muted">
            <div class="col-sm-6">
                {% if messageb is not empty %}
                    <div class="alert alert-warning">
                        {{ messageb }}
                    </div>
                {% endif %}
            </div>   
        </div>    
    </div>


    
    <div class="card border-dark mb-5">
        <div class="card-header text-center">
            <h5>✅ Modifier l'état d'un compte Joueur ou d'une Aventure ✅</h5>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">            
                        {% if form_majp is defined %}      
                            {{form_start(form_majp)}}
                                <div class="col-md-auto mb-3">
                                    {{form_label(form_majp.id_player)}}
                                    &nbsp
                                    {{form_widget(form_majp.id_player)}}
                                </div>
                                <div class="col-md-auto mb-3">
                                    {{form_label(form_majp.currency1)}}
                                    {{form_widget(form_majp.currency1)}}
                                </div>
                                <div class="col-md-auto mb-3">
                                    {{form_label(form_majp.currency2)}}
                                    {{form_widget(form_majp.currency2)}}
                                </div>
                                <div class="col-md-auto mb-3">
                                    {{form_label(form_majp.currency3)}}
                                    {{form_widget(form_majp.currency3)}}
                                </div>
                                <div class="col-md-auto mb-3">
                                    {{form_label(form_majp.currency4)}}
                                    {{form_widget(form_majp.currency4)}}
                                </div>
                                <div class="col-md-auto mb-3">
                                {{form_label(form_majp.currency5)}}
                                {{form_widget(form_majp.currency5)}}
                                </div>
                                <div class="col-md-auto mb-3">
                                {{form_label(form_majp.currency6)}}
                                {{form_widget(form_majp.currency6)}}
                                </div>                   
                                <div class="mt-3">
                                <button type="submit" class="btn btn-dark">Modifier les Currencies</button>
                                </div>
                            {{form_end(form_majp)}}
                        {% endif %}
                    </div>
                    <div class="col">            
                        {% if form_adv is defined %}      
                            {{form_start(form_adv)}}
                                <div class="col-md-auto mb-3 ">
                                {{form_label(form_adv.code_adv)}}
                                &nbsp&nbsp&nbsp
                                {{form_widget(form_adv.code_adv)}}                            
                                </div>
                                <div class="col-md-auto mb-3 ">
                                {{form_label(form_adv.state)}}
                                {{form_widget(form_adv.state)}}                            
                                </div>                                                             
                                <div class="col-md-auto mb-3 ">
                                <button type="submit" class="btn btn-dark">Modifier l'Etat de l'Aventure</button>
                                </div>
                            {{form_end(form_adv)}}
                        {% endif %}
                            <div class="col-md-auto mb-3 ">
                                <br><p></p>
                            </div>
                        {% if form_mail_player is defined %}      
                            {{form_start(form_mail_player)}}
                                <div class="col-md-auto mb-3 ">
                                {{form_label(form_mail_player.id_player)}}
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp                               
                                {{form_widget(form_mail_player.id_player)}}                            
                                </div>
                                <div class="col-md-auto mb-3 ">
                                {{form_label(form_mail_player.city)}}
                                &nbsp&nbsp&nbsp&nbsp
                                {{form_widget(form_mail_player.city)}}                            
                                </div>        
                                <div class="col-md-auto mb-3 ">
                                {{form_label(form_mail_player.mail)}}
                                &nbsp&nbsp&nbsp&nbsp
                                {{form_widget(form_mail_player.mail)}}                            
                                </div>                                                             
                                <div class="col-md-auto mb-3 ">
                                <button type="submit" class="btn btn-dark">Modifier le Mail</button>
                                </div>
                            {{form_end(form_mail_player)}}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>                
        <div class="card-footer text-muted">
            {% if messaged is not empty %}
                    <div class="alert alert-warning">
                        <code>{{ messaged }}</code>
                    </div>
            {% endif %}
            {% if messagef is not empty %}
                    <div class="alert alert-warning">
                        <code>{{ messagef }}</code>
                    </div>
            {% endif %}
            {% if messageg is not empty %}
                    <div class="alert alert-warning">
                        <code>{{ messageg }}</code>
                    </div>
            {% endif %}
        </div>    
    </div>              
</div>
{% endblock %}
