{% extends 'base.html.twig' %}

{% block title %}Customer Lifetime Value QUAESTYO{% endblock %}
{% block stylesheets %}{% endblock %}      
{% block body %}

 <h1 class="text-center">Customer Lifetime Value QUAESTYO</h1>

<div class="d-grid gap-3">
  <div class="p-5 bg-white"></div>
  <div class="container">
<a href="{{ path('quaestyo_homeland')}}">Retour à la page d'accueuil</a></div> 
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr class="table-success">
                <th>Nombre d'aventure jouée</th>    
                <th>Clients</th>
                <th>% Clients</th> 
                <th>Nombre aventure payante</th>                  
                <th>Pondération</th>
                <th>% Revenus</th>      
                </tr>
            </thead>
            <tbody>
                {% for col in numb%}    
                <tr>    
                <th scope="col">{{col.champ}}</th>      
                    <th scope="col">{{col.client}}</th>
                    <th scope="col">{{(col.client/total*100)|round(2)}}%</th>
                    <th scope="col">{{col.nbav}}</th> 
                    <th scope="col">{{col.pond}}</th>  
                    <th scope="col">{{(col.pond/totalpond*100)|round(2)}}%</th> 
                </tr>
                {% endfor %}
                <tr>    
                <th>Totaux</th>      
                    <th>{{total}}</th>
                    <th>100%</th>
                     <th></th> 
                    <th>{{totalpond}}</th>  
                     <th>100%</th>
                </tr>    
            </tbody>
        </table>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr class="table-success">
                <th>CLTV actuel</th>    
                <th>Total</th>                  
                </tr>
            </thead>
            <tbody>                
                <tr>    
                    <th>ARPU</th>                 
                    <th>{{panmoy|round(2)}}€</th>                   
                </tr>                
                <tr>    
                    <th>CLTV sans pondération</th>   
                    <th style="color:red ; font-weight:1000">{{(total_nadv_data/total_ncn_data)|round(4)}}</th>
                </tr>
                <tr>    
                    <th>Pondération</th>   
                    <th>{{(total_nadv_data/total_ncn_data*pond)|round(2)}}</th>
                </tr>   
                <tr>    
                    <th>CLTV </th>   
                    <th>{{(panmoy*total_nadv_data/total_ncn_data*pond)|round(2)}}€</th>
                </tr>   
                <tr>    
                    <th>CAC</th>   
                    <th>{{cac|round(2)}}€</th>
                </tr>   
                <tr>    
                    <th>Résultat</th>   
                    <th>{{((panmoy*total_nadv_data/total_ncn_data*pond)-cac)|round(2)}}€</th>
                </tr>   
                <tr>    
                    <th>CLTV/CAC </th>   
                    <th>{{((panmoy*total_nadv_data/total_ncn_data*pond)/cac)|round(2)}}</th>
                </tr>       
            </tbody>
        </table>        
    </div>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr class="table-success">
            <th scope="col">CLTV réel</th>
            {% for col in vol_colnums%}
              {% if (vol_colnums | last == col and nb is defined) %}
                <th scope="col">Total</th>
              {% endif %}
              <th scope="col">{{col}}</th>
              {% set nb = 0 %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Nb de parties payantes jouées</th>
            {% set x = 1 %}
            {% for col in cac_nadv_data%}
              {% if (cac_nadv_data | last == col and cac_nadv_data | length == x) %}
                <th scope="col" style="background-color: lightyellow">{{total_nadv_data}}</th>
              {% endif %}
              {% set x = x + 1 %}
              <th scope="col">{{col}}</th>
            {% endfor %}

          </tr>
          <tr>
            <th scope="row">Nombre de clients</th>
            {% set x = 1 %}
            {% for col in cac_ncn_data%}
              {% if (cac_ncn_data | last == col and cac_ncn_data | length == x) %}
                <th scope="col" style="background-color: lightyellow">{{total_ncn_data}}</th>
              {% endif %}
              {% set x = x + 1 %}
              <th scope="col">{{col}}</th>
            {% endfor %}

          </tr>
          
          <tr>
            <th scope="row">CLTV réel</th>
            {% set x = 1 %}
            {% for col in cltv_data%}
              {% if (cltv_data | last == col and cltv_data | length == x) %}
                <th scope="col" style="background-color: lightyellow">{{(total_nadv_data/total_ncn_data)|round(4)}}</th>
              {% endif %}
              {% set x = x + 1 %}
              <th scope="col">{{col|round(4)}}</th>
            {% endfor %}

          </tr>
          <tr>
          <form action="{{ path('stat_ltvc')}}" method="post" name="statltvc">
            <th scope="row">CLTV temporaire 1</th>
              <td></td>
              <td></td>
              <td></td>          
                <td colspan=3><input type="date" class="form-control" name="dated" value="{{periodh}}" min="2018-06-08" required></td>
                <td colspan=3><input type="date" class="form-control" name="datef" value="{{periodi}}" min="2018-06-08" required></td>
                <td colspan=3><button type="submit" class="btn btn-success">Cltv temporaire 1</button></td>
              <td scope="col" style="background-color: lightyellow">{{(cltv_temp1)|round(4)}}</td>
          </tr>
          <tr>
            <th scope="row">CLTV temporaire 2</th>
              <td></td>
              <td></td>
              <td></td>             
                <td colspan=3><input type="date" class="form-control" name="dated2" value="{{periodj}}" min="2018-06-08" required></td>
                <td colspan=3><input type="date" class="form-control" name="datef2" value="{{periodk}}" min="2018-06-08" required></td>
                <td colspan=3><button type="submit" class="btn btn-success">Cltv temporaire 2</button></td>              
              <td scope="col" style="background-color: lightyellow">{{(cltv_temp2)|round(4)}}</td>
          </form>
          </tr>
          
        </tbody>
      </table>
      </div>

</div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.js" integrity="sha512-or2Rj8rtp6G4AA7LOM1DVfQmzsevkILKgY1LLJ5kEDv3UCiEt9bmHJn7LNmo8BC5hxJCQ3cosqo1t77+p/yOfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    
{% endblock %}